/* GERAL */
body {
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Barra lateral fixa */
.fixed-radio-items {
  width: 14%;  /* Define a largura da barra lateral como 14% */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 10px;
  background-color: #f8f9fa;  /* Cor de fundo suave */
  border-right: 2px solid #dee2e6; /* Linha de separação */
}
#apuracao-container {
  width: 86%;  /* A área dos gráficos ocupará os 86% restantes */
  margin-left: 14%;  /* Desloca os gráficos para a direita, ocupando 86% da tela */
}
/* Configuração dos gráficos */
#dynamic-content-container {
  width: 86%;  /* A área dos gráficos ocupará os 86% restantes */
  margin-left: 14%;  /* Desloca os gráficos para a direita, ocupando 86% da tela */
}

/* Cards de gráficos */
.card {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: white;
  margin: 10px;  /* Espaçamento entre os cards */
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  /* Barra lateral (radio e checklist) em dispositivos móveis */
  .fixed-radio-items {
    width: 100%;  /* Barra lateral ocupa toda a largura da tela */
    position: relative;  /* Barra lateral não será fixa em dispositivos móveis */
    margin-bottom: 10px;  /* Adiciona um espaçamento abaixo */
  }

  /* Centralizando imagens na barra lateral */
  .fixed-radio-items img {
    display: block;  /* Faz a imagem ser um bloco */
    margin-left: auto;  /* Aplica margem automática à esquerda */
    margin-right: auto;  /* Aplica margem automática à direita */
    width: 80%;  /* Ajusta a largura da imagem */
    margin-bottom: 10px;  /* Adiciona espaçamento abaixo das imagens */
  }

  /* Área dos gráficos */
  #dynamic-content-container-right {
    width: 100%;  /* Gráficos ocuparão toda a largura da tela */
    margin-left: 0;  /* Remove a margem esquerda */
    text-align: center;  /* Centraliza os gráficos */
  }

  /* Centralizando os cards dos gráficos na tela */
  .card {
    width: 100%;  /* Ajusta a largura dos cards para ocupar 90% da tela */
    margin: 10px auto;  /* Centraliza os cards e mantém o espaçamento de 10px entre eles */
  }

  /* Centraliza os cards dentro do contêiner */
  .container-fluid {
    display: flex;
    justify-content: center;  /* Centraliza os cards horizontalmente */
    align-items: flex-start;  /* Alinha os cards no topo do contêiner */
    flex-direction: column;  /* Organiza os itens em uma coluna */
    padding: 10px;
  }
}



