/* ---------- GERAL ---------- */
body {
  margin-top: 20px; /* Adiciona o espaço de 20px do topo da tela */
}

/* ---------- TITULOS ---------- */
h1, h2, h3 {
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* ---------- GRÁFICOS EM CARDS ---------- */
.card {
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px; /* <- espaçamento entre os cards */
}

/* Ajuste para o espaço de 20px no topo dos gráficos */
.card-body dcc-graph {
  margin-top: 20px; /* Adiciona o espaçamento no topo de cada gráfico */
}

/* ---------- Barra lateral fixa (Exemplo de sidebar) ---------- */
.fixed-radio-items {
  position: fixed;    /* Fixa o RadioItems na tela */
  top: 20px;          /* Coloca o componente no topo da tela */
  bottom: 20px;       /* Distância da parte inferior */
  left: 20px;         /* Distância da esquerda */
  width: 200px;       /* Ajuste a largura conforme necessário (equivalente ao sm=2) */
  height: 96vh;       /* A altura do card será igual à altura da tela */
  padding: 20px;      /* Ajuste o preenchimento dentro do RadioItems */
  margin: 0;          /* Remove margem externa */
  background-color: #ffffff; /* Cor de fundo do RadioItems */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destacar o componente */
}

/* Desktop (padrão): sidebar lateral */
#sidebar {
  display: block;
  position: fixed;
}

/* Celular: remover a barra lateral completamente e fazer os gráficos ocuparem toda a tela */
@media screen and (max-width: 768px) {
  /* Remove o card completo com RadioItems */
  #sidebar {
      display: none; /* Barra lateral removida */
  }

  .fixed-radio-items {
      display: none; /* Esconde o conteúdo do card, incluindo o RadioItems */
  }

  /* Ajusta o conteúdo para ocupar 100% da largura da tela */
  #dynamic-content {
      margin-top: 0;  /* Remove o espaço superior para os gráficos */
      width: 100%;    /* Faz os gráficos ocuparem toda a largura disponível */
      height: 100vh;  /* Ajusta a altura para ocupar a tela inteira */
  }

  /* Faz com que os gráficos ocupem a tela inteira */
  .dcc-graph {
    width: 100%; /* Gráficos ocupam 100% da largura */
    height: 100%; /* Gráficos ocupam toda a altura do contêiner */
  }
}
